node_modules/
typings/

# Visual Studio Code
.vscode/

npm-debug.log

# css
src/assets/css/

# transpiled files
**/*.js

# exclude gulpfile from ignored files
!gulpfile.js

# Ignore user api key. DO NOT DELETE THIS.
server/api.ts
