<div id="tooltip" *ngIf="service.tooltip"
  style.top="{{service.y}}px"
  style.left="{{service.x}}px"
  [ngSwitch]="service.tooltip.type">

  <!-- rune -->
  <tooltip-rune-component
    *ngSwitchWhen="'rune'"
    [data]="service.tooltip.data">
  </tooltip-rune-component>

  <!-- rune-sums -->
  <tooltip-rune-sums-component
    *ngSwitchWhen="'rune-sums'"
    [data]="service.tooltip.data">
  </tooltip-rune-sums-component>

  <!-- mastery -->
  <tooltip-mastery-component
    *ngSwitchWhen="'mastery'"
    [data]="service.tooltip.data">
  </tooltip-mastery-component>

  <!-- mastery -->
  <tooltip-mastery-sums-component
    *ngSwitchWhen="'mastery-sums'"
    [data]="service.tooltip.data">
  </tooltip-mastery-sums-component>

  <div class="tooltip-default" *ngSwitchDefault>
    <p>{{ service.tooltip.data }}</p>
  </div>
</div>
